<div class="d-flex justify-content-center align-items-center w-100 h-100">
  <div class="d-flex flex-column gap-3" style="max-width: 650px">
    <h1 class="text-center">{{ modePage == ModeAjoutModif.AJOUT ? 'Ajouter un cours' : 'Modifier un cours' }}</h1>
    <form (ngSubmit)="onSubmit(coursForm)" #coursForm="ngForm" class="d-flex flex-column gap-3">
      <div class="form-group">
        <label for="libelle">Libelle <span class="text-primary">*</span></label>
        <input type="text" maxlength="250" class="form-control" id="libelle" name="libelle" [(ngModel)]="cours.libelle" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="cours.description"></textarea>
      </div>
      <div class="form-group">
        <label for="nbVacatairesNecessaires">Nombre de vacataires nécessaires <span class="text-primary">*</span></label>
        <input type="text" pattern="[0-9]*" maxlength="3" class="form-control" id="nbVacatairesNecessaires" name="nbVacatairesNecessaires" [(ngModel)]="cours.nbVacatairesNecessaires" required>
      </div>
      <div class="form-group">
        <label for="departement">Departement <span class="text-primary">*</span></label>
        <select class="select-classes form-select-lg form-select" name="departement" id="departement" [(ngModel)]="cours.IDDepartement" required>
          <option [value]="NaN" disabled selected>Choisir un département</option>
          <option *ngFor="let dept of departementsAvailable" [value]="dept.ID">{{ dept.libelle }}</option>
        </select>
      </div>
      <div class="form-group">
       <label for="professeurReferent">Professeur référent</label>
        <select class="select-classes form-select-lg form-select" name="professeurReferent" id="professeurReferent" [(ngModel)]="cours.IDProfesseurReferent">
          <option [value]="NaN">Aucun professeur référent</option>
          <option *ngFor="let prof of professeursReferents" [value]="prof.ID">{{ prof.prenom + ' ' + prof.nom }}</option>
        </select>
      </div>
      <div class="d-flex gap-2">
        <button class="btn btn-primary d-flex align-items-center gap-2" [disabled]="coursForm.invalid || isNaN(cours.IDDepartement) || enCoursDeModification">Confirmer <div *ngIf="enCoursDeModification" class="spinner-border spinner-border-sm text-white" role="status"></div></button>
        <button type="button" class="btn btn-secondary" (click)="location.back()">Retour</button>
      </div>
    </form>
  </div>
</div>


<!-- Message d'erreur -->
<div *ngIf="alertText" class="alert alert-dismissible alert-primary position-fixed start-0 bottom-0 mb-3 ms-3">
  <button (click)="alertText = ''" type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <span [innerHTML]="alertText"></span>
</div>
