.card-vacataire:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.card-vacataire .profil-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.competence:hover > span {
  opacity: 1 !important;
  cursor: pointer;
}

.description-carte {
  white-space: pre;
  text-wrap: balance;
}
