<div class="d-flex justify-content-center align-items-center w-100 h-100">
  <div class="d-flex flex-column gap-3" style="max-width: 650px">
    <h1 class="text-center">Modifier le reponsable de vacataires</h1>
    <form (ngSubmit)="onSubmit(respForm)" #respForm="ngForm" class="d-flex flex-column gap-3">
      <div class="form-group">
        <label for="prenom">Prénom <span class="text-primary">*</span></label>
        <input type="text" maxlength="250" class="form-control" id="prenom" name="prenom" [(ngModel)]="responsableVacataire.prenom" required>
      </div>
      <div class="form-group">
        <label for="nom">Nom <span class="text-primary">*</span></label>
        <input type="text" maxlength="250" class="form-control" id="nom" name="nom" [(ngModel)]="responsableVacataire.nom" required>
      </div>
      <div class="form-group">
        <label for="adresseEmail">Adresse Email <span class="text-primary">*</span></label>
        <input type="email" maxlength="250" class="form-control" id="adresseEmail" name="adresseEmail" [(ngModel)]="responsableVacataire.adresseEmail" pattern="^[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}$" required>
      </div>
      <div class="form-group">
        <label for="mdp">Mot de passe</label>
        <input type="password" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$" maxlength="100" class="form-control" id="mdp" name="mdp" [(ngModel)]="responsableVacataire.hashMdp" [required]="responsableVacataire.hashMdp.length >= 1">
        <small *ngIf="responsableVacataire.hashMdp" class="d-block lh-sm mt-2">Doit contenir au moins 1 majuscule, 1 minuscule, 1 chiffre, 1 caractère spécial et doit faire au moins 8 caractères de long.</small>
      </div>
      <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary d-flex align-items-center gap-2" [disabled]="respForm.invalid || enCoursDeModification">Confirmer <div *ngIf="enCoursDeModification" class="spinner-border spinner-border-sm text-white" role="status"></div></button>
        <button type="button" class="btn btn-secondary" (click)="location.reload()">Annuler</button>
      </div>
    </form>
  </div>
</div>

<!-- Message d'erreur -->
<div *ngIf="alertText" class="alert alert-dismissible alert-primary position-fixed start-0 bottom-0 mb-3 ms-3">
  <button (click)="alertText = ''" type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <span [innerHTML]="alertText"></span>
</div>
